body {
    margin: 0;
    padding: 0;
    font-family: 'Mina', sans-serif;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 250px;
}

.todo-title {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    background-color: #292929;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

.todo-create {
    display: flex;
    align-items: center;
    width: 100%;
}

.todo-text {
    height: 30px;
    width: 75%;
    /* border: none; */
    /* background-color: #c2c2c2; */
}

.todo-btn {
    width: 25%;
    height: 36px;
    text-transform: uppercase;
    font-weight: 700;
}

.todo-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: #4E4E4E; */
}

.task {
    background: #B1B1B1;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 19px;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
}

.taskText {
    width: 100%;
    word-break: break-all;
}

.removeTask {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background-color: #292929;
}